body {
	position: relative;
	padding: 0;
	margin: 0;
	width: 100vw;
	height: 100vh;
	background-color: #F9BB2F;
	background: linear-gradient(270.25deg, #F9BB2F 0.11%, #F6A731 99.86%);
	font-family: sans-serif;
	color: #fff;
}
body:after{
    position:absolute;
    z-index: -1;
    top:0;
    right:0;
    width: 65%;
    height:100%;
    background-image: url("./images/dots.svg");
    content:"";
}
.container {
	display: flex;
	justify-content: center;
	margin: 0;
	background: rgba(0,0,0, 0.3); 
}
.hero {
	position: relative;
	width: 100%;
	margin-top: 10px; 
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	align-content: center;
	flex-direction: column;
}
.hero-action {
	position: absolute;
}
.hero-text {
	text-align: center;
	align-self: center;
	margin: 0; 
}
.hero-text h1 {
	font-style: normal;
	font-weight: bold;
	font-size: 70px;
	margin-bottom: 7px; 
}
.hero-text h5 {
	font-style: normal;
	font-weight: 300;
	font-size: 25px;
	margin: 0;
}
.hero-text img {
	margin-top: 25px;
	width: 600px;
}
.hero-form {
	margin-bottom: 5px; 
	padding: 15px;
	background: rgba(0, 0, 0, 0.65);
	box-shadow: inset 0px 4px 15px rgba(56, 56, 56, 0.15);	
}
.hero-form form {
	display: flex;
	flex-direction: column;
	margin: 35px 20px 0 20px; 
	padding: 10px 30px;	
}
.hero-form h2 {
	display: inline-block;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	margin-bottom: 7px; 
}
.hero-form .icon {
	display: inline-block;
	width: 18px;
}
.hero-form hr {
	display: block;
	width: 40%;
	margin-left: 0;
}
.hero-form input[type="text"], input[type="password"] {
	background: none;
	border: none;
	border-bottom: 1px solid white;
	padding: 8px;
	margin-bottom: 25px;
	color: #fff;
}
.hero-form input[type="text"]:focus, input[type="password"]:focus {
	outline: none;
}
.hero-form button {
	border: 1px solid #fff;
	border-radius: 2px;
	font-size: 15px;
	background-color: #fff;
	color: #000;
	width: 70px;
	padding: 2px 5px;
}
.hero-form label {
	font-style: normal;
	font-weight: lighter;
	font-size: 15px;
	margin-bottom: 5px; 
}
.hero-action .quote {
	text-align: center;
	border-radius: 0 0 15px 15px;
	font-size: 15px;
	padding: 2px 7px;
}
@media only screen and (min-width: 500px) {
    .hero {
		flex-direction: row;
	}
	.hero-action {
		position: static;
	}
	.hero-text {
		margin: 35px 20px 0 20px; 
	}

}